<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.littleWeekend.dao.master.ActivityDao">

	<resultMap id="BaseResultMap" type="com.littleWeekend.domain.Activity">
		<result column="activity_name" jdbcType="VARCHAR" property="activityName" />

	</resultMap>
	<select id="findByActivityId" resultMap="BaseResultMap"  parameterType="java.lang.String">
		select  activity_name from activity where activity_id=#{activityId} ;
	</select>

</mapper>
